# Gradle
.gradle
build

# Intellij
.idea/

# Other stuff
/run

# Kiterino build files
/kiterino-server/build.gradle.kts
/kiterino-server/src/minecraft
/paper-server
/purpur-server
/kiterino-api/build.gradle.kts
/paper-api
/purpur-api
*.jar
test-plugin.settings.gradle.kts
